.swap{
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 25px 25px 20px;
  border-radius: 10px;
  // box-shadow: 0 30px 80px rgba($color: #333, $alpha: .4);
  &-title{
    padding:20px 0;
  }
  &-wrap{

  }
  &-setting{
    cursor: pointer;
    &:hover{
      color: blue;
    }
  }
  .img{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    margin-right:8px;
  }
  &-exchange{
    &>div{
      cursor: pointer;
      transition: .5s;
      padding:0 12px;
    }
    .ico{
      transform: rotate(-90deg);
      font-size: 14px;
    }
  }
  &-max{
    background: #eee;
    border-radius: 90px;
    padding:4px 10px;
    cursor: pointer;
    background: blue;
    color:#fff;
    transition: .4s;
    margin-right: 10px;
    &:hover{
      background: darken(blue,20%);
    }
  }
  &-footer{
    font-size: 12px;
    padding:15px 0 0;
    &>div{
      padding:6px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
   
    span{
      color: #555;
 
      &:last-child{
      color: #181E3C;
        font-weight: 800;
      }
      &.red{
        color: orangered;
        b{
          color: orangered;
        }
      }
      &.price{
        &-0{
          color: #181E3C;
        }
        &-2{
          color: orangered;
        }
        &-3{
          color: orangered;
        }
        &-1{
          color: darkorange;
        }
      }
    }
    b{
      color: #181E3C;
    }
  }
  &-button{
    background: blue;
    color: #fff;
    border-radius:2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding:0 0;
    border-radius: 5px;
    height: 50px;
    margin-top:20px;
    transition: .4s;
    position: relative;
    &.button{
      &-1{
        background: darkorange;
         &:hover{
        background: darken(darkorange,10%);
        }
      }
      &-2,&-3{
        background: orangered;
        &:hover{
          background: darken(orangered,10%);
        }
      }
      &-3{
        opacity: 1;
      }
    }
    &.disable{
      background: darken(#f2f2f2,5%);
      color:  darken(#f2f2f2,50%);
      &:hover{
        color:  darken(#f2f2f2,58%);
        background: darken(#f2f2f2,8%);
      }
    }
    &:hover{
      background: darken(blue,18%);
    }
  }
  &-init{
    display: flex;
    align-items: center;
    padding-right: 15px;
    &-tonken{
      width: 100px;
    }
  }
  &-head{
    padding:20px 0 10px;
  }
  &-input{
    font-size: 34px;
    font-weight: 800;
    color: #181E3C;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    // font-family: "Inter var", sans-serif;
    &.max{
      font-size: 20px;
    }
  }
  &-info{
    font-size: 12px;
  }

  &-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f2f2f2;
    padding:10px;
    border-radius: 5px;
  }
}

.confirm{
  &-success{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:30px 0 0;
    p{
    font-size:18px;
      margin-bottom: 40px;
    }
    .ico{
      font-size: 40px;
      padding:0 0 20px;
    }
  }
  &-symbol{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex:1;
  }
  &-pool{
    position: relative;
    .img{
      width: 34px;
      height: 34px;
      background: rgba($color: #000000, $alpha: 0.1);
      border-radius: 90px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after{
        content: '?';
        font-size: 20px;
      }
    }
    .ico {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top:0;
      bottom: 0;
      &::before{
        width: 64px;
        text-align: center;
      }
    }
  }
  &-node{
    display: flex;
    align-items: center;
    background: rgba($color: #666, $alpha: 0.1);
    border-radius:5px;
    padding:15px;
    &:first-child{
      margin:0 0 40px;
    }
    &:last-child{
      margin:40px 0 0;
    }

    b{
      font-size:20px;
      font-family: "Inter var", sans-serif;
    }
    span{
      font-size: 12px;
      font-weight: 800;
      opacity: .5;
      margin-top:5px;
    }
  }
  &-warn-text{
    color: #666;
    font-size: 12px;
    line-height: 1.6;
    padding:20px 0 0;
  }
}

.setting{
  &-item {
    margin:0 0 15px 0;
    font-size: 12px;
    .item{
      display: flex;
    }
    input{
      padding:8px 0;
    }
  }
  &-title{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
    font-weight: 700;
    span{
      font-size: 12px;
    }

  }
}

.tolerance{
  display: flex;
  flex:1;
  &-input{
    flex:1;
    input{
      width: 100%;
      background: transparent;
    }
  }
  &-custom{
    border:1px solid #eee;
    padding:0 10px 0 0;
    border-radius: 4px;
    display: flex;
    background: #f2f2f2;
    border:none;
    align-items: center;
    justify-content: space-between;
    margin-left:8px;
    width: 90px;
    &.init{
      margin:0;
      margin-right: 10px;
      input,&>div{
        width: 100%;
      }
    }
    input{
      border:none;
      &:focus{
        border: none;
      }
    }
  }
  &>div{
    flex:1;
    background: #eee;
    text-align: center;
    padding:8px 0;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    &.selected{
      background: #333;
      color: #fff;
    }
    &:first-child{
      border-radius: 5px 0 0 5px;
    }
    &:last-child{
      border-radius: 0 5px 5px 0;
    }
  }
}

.select{
  &-inner{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.637);
    padding: 10px;
    border-radius: 5px;
    width: 130px;
    transition: .3s;
    min-height: 38px;
    &-desc{
      font-size: 12px;
      color: #999;
      transform: scale(.7);
      transform-origin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 66px;
    }
    &:hover{
      background: rgba(255, 255, 255, 1);
    }
    &-val{
      flex:1;
      display: flex;
      flex-direction: column;
      span{
        font-size: 12px;
      }
      h3{
        font-size: 14px;
        margin:0;
      }
    }
    .ico{
      margin-left: 4px;
    }
   
  }
  &-list{
    position: absolute;
    left:0;
    right: 0;
    top:100%;
  }
}

.token{
  &-info{
    flex:1;
    h2{
      margin:0;
      font-size: 14px;
    }
  }
  &-desc{
    font-size: 14px;
    text-align: right;
    transform: scale(.9);
    transform-origin: 100%;
    font-weight: 800;
    &-title{
      font-size: 12px;
      opacity: .6;
      text-align: right;
    }
  }
  &-network{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    &>div{
      padding:20px 15px 15px;
      font-weight: 800;
      cursor: pointer;
      font-size: 14px;
      position: relative;
      &.selected{
        color: blue;
        &::after{
          content: '';
          background: blue;
          position: absolute;
          height: 4px;
          left:30%;
          right:30%;
          bottom: 0;
        }
      }
    }
  }
  &-empty{
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    .img{
      text-align: center;
      font-size: 50px;
      width: 200px;
      height: 200px;
      margin:0;
      margin-bottom: 15px;
    }
    p{
      margin:5px 0;
    }
    span{
      color: blue;
      font-weight: 800;
      margin-left: 3px;
    }
  }
  &-close{
    cursor: pointer;
    &:hover{
      color: blue;
    }
  }
  &-list{
    &-title{
      font-weight: 800;
      margin:20px 0 10px;
      font-size: 14px;
      color: blue;
    }
  }
  &-mask{
    display: flex;
    align-items: center;
  }
  &-address{
    font-size: 12px;
    color: #777;
    transform: scale(0.9);
    transform-origin: 0 0;
    margin-top: 2px;
    font-family: 'd-din';
  }
  &-search{
    background: rgba($color: #555, $alpha: .1);
    border-radius: 5px;
    padding: 0 15px;
    margin:15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-input{
      flex:1;
    }
    .clean{
      cursor: pointer;
      opacity: .5;
      &:hover{
        color: blue;
      }
    }
    .ico{
      opacity: .5;
    }
    .ico-search{
      margin-right: 10px;
    }
    input{
      padding:10px 0;
      background: transparent;
      width:100%;
      font-size: 14px;
    }
  }
  &-item{
    cursor: pointer;
    padding:15px 15px;
    margin: 0 15px;
    transition: .4s;
    border-radius: 8px;
    &:hover{
      background: rgba(110, 110, 110, .1);
    }
    .img{
      width: 28px;
      height: 28px;
      margin-right: 8px;
      background-size: 100%;
    }
    &.active{
      // background: lighten(darkblue,70%);
      color: blue;
      background: lighten(blue,47%);
    }
    &:hover,&.active{
      color: blue;
      .token-address{
        color: blue;
      }
    }
  }
  &-modal{
    background: #fff;
    padding:10px 20px 10px;
    border-radius: 4px;
    width: 400px;
  }
}

.mask{
  &-title{
    font-size: 16px;
  }
}

.network{
  &-switch{
    padding-bottom: 10px;
    .text{
      font-size: 12px;
      margin-bottom: 20px;
      line-height: 1.6;
      background: rgba($color: #444, $alpha: .1);
      padding: 15px;
      border-radius: 5px;
    }
  }
  &-node{
     margin-bottom: 15px;
    p{
      display: flex;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
      font-size: 12px;
      font-weight: 700;
    }
    b{
      opacity: .7gi;
      margin:2px 0 12px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

@media screen and (max-width:600px){
  .swap{
    width: inherit;
    max-width: inherit;
    min-width: inherit;
    margin:0 15px;
    padding:14px;
    .mask{
      align-items:flex-end;
      .modal{
        width: 100%;
      }
    }
    &-wrap{
      width: 100%;
      height: inherit;
      padding:50px 0;
    }
  }
  .c-tool{
  //    display: none;
  }
  .swap-wrap+.footer{
    display: none;
  }
}